 <style>
  #searchbox{

    height: auto;
  }
 </style>



 <div id='results'>
  <img src='<%= @poster %>'>
  <p class='moviename'><%= @title %></p>
  <p>Starring: <%= @actors %></p>
  <p>Directed by <%= @director %></p>
  <p>Year released: <%= @year %></p>
  <p>Length: <%= @runtime %></p>
  <p>Rating: <%= @rated %></p>
  <p>Genre: <%= @genre %></p>
</div> <!-- end results -->


